<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.sumup.sdksampleapp">

    <application
      android:allowBackup="true"
      android:icon="@drawable/icon"
      android:label="@string/app_name"
      android:name=".SampleApplication"
      android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

    <activity
      android:name="com.sumup.sdksampleapp.MainActivity"
      android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

     <!-- Required for bluetooth communication with an Adyen terminal -->
     <receiver android:name="com.adyen.adyenpos.receiver.BluetoothState">

         <intent-filter>
             <action android:name="android.bluetooth.adapter.action.STATE_CHANGED"/>
             <action android:name="android.bluetooth.device.action.UUID"/>
         </intent-filter>
     </receiver>

     <!-- Required for bluetooth communication with an Adyen terminal (when enableEagerConnection is used)-->
     <service android:name="com.adyen.adyenpos.service.TerminalConnectIntentService"/>
    </application>
</manifest>
